<!DOCTYPE html>
<html class="" style="">
<head lang="en">
    <!--build header-->
    <include src="../templates/layout/header.html"
             path="../"
             title="GuPack">
    </include>
    <include src="../templates/reset/font-reset.html"></include>
</head>
<body class="index">

    <header class="header"></header>
    <img src="../assets/images/logo.png" alt="" style="display: none;">
    <div class="wrapper" id="app">
        <div id="todo-page"></div>
    </div>
    <footer class="footer"></footer>

    <!--build footer-->
    <include src="../templates/layout/footer.html"
             path="../"
             view="modules/todo/todoView.js">
    </include>

</body>
</html>