@import "reset";
@import "font-awesome.css";
@import "commons/media";
@import "commons/public";
@import "commons/animate";

* {
    font-family: "Microsoft YaHei", Arial;
    font-size: 14px;
    margin:0;
    padding:0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -webkit-font-smoothing: antialiased;
}

html,body{
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
}
body {
    line-height: 1.8;
    position: relative;
    background-color: #F3FFFF;
}
.wrapper{
    width: 100%;
    padding: 10px;
    text-align: center;
}


